<!doctype html>
<html lang="en">
  {% extends 'base.html' %}
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>3 Qubes</title>
  <meta name="description" content="3 Qubes">
  <meta name="keywords" content="">



</head>

<body>
  {% block content %}


  <header class="page-header">
    <div class="video-bg">
      <video src="{% static 'videos/Broker.mp4' %}" autoplay muted playsinline loop></video>
    </div>
    <!-- end video-bg -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Broker</h1>
          <p>Partner with us for comprehensive support to strengthen your career!</p>
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->

  </header>
  <!-- end page-header -->

  <section class="content-section pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title mb-4 wow fadeInUp">
            <!-- <h6>Welcome to the 3Qubes Builder Hub</h6> -->
            <h2 class="gradient-text">Broker </h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="works-content wow fadeInUp">
            <p>At 3Qubes, we believe in empowering brokers by providing a strong foundation for growth. We offer comprehensive support, engaging training programs, and timely payouts to ensure you achieve your targets effortlessly. </p>
            <p>Join our network and leverage the strength of 3Qubes to enhance your real estate career. We are committed to fostering a collaborative environment, where your success is our success. Partner with us and unlock a world of opportunities in the dynamic real estate market.</p>
          </div>
          <!-- end works-content -->
        </div>
      </div>
    </div>
  </section>

  <!-- Broker image -->
  <section class="content-section p-5">
    <div class="container reveal-effect masker wow fadeIn">
      <img src="{% static 'images/Broker.jpg' %}" alt="" class="">
    </div>
  </section>

  <!-- The Bridge -->
  <section class="content-section py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title wow fadeInUp">
            <h3 class="gradient-text mb-3">Elevate Your Brokerage Journey With The Bridge</h3>
            <h5>Where Opportunities and Support Converge for Brokers</h5>
          </div>
          <!-- end section-title -->
        </div>
        <!-- end col-12 -->
        <div class="col-lg-4 mb-4">
          <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
            <figure><img src="{% static 'images/bridge/Enrol.png' %}" alt="Enrol"></figure>
            <small>01</small>
            <h5>3Q Enrol</h5>
            <p>Jumpstart your journey in just 10 seconds! Fill out a form stay one step ahead in the industry.</p>
          </div>
          <!-- end icon-content-list-block -->
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4 mb-4">
          <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
            <figure><img src="{% static 'images/bridge/Start.png'%}" alt="Start"></figure>
            <small>02</small>
            <h5>3Q Start </h5>
            <p>Get the edge with ready-to-use marketing kits and sales pitches, designed to make every pitch a potential win.</p>
          </div>
          <!-- end icon-content-list-block -->
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4 mb-4">
          <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
            <figure><img src="{% static 'images/bridge/Campaign.png'%}" alt="Image"></figure>
            <small>03</small>
            <h5>3Q Campaign</h5>
            <p>Amplify your reach with our tailor-made marketing campaigns, turning properties into hotspots of demand.</p>
          </div>
          <!-- end icon-content-list-block -->
        </div>
        <!-- end col-4 -->

        <div class="col-lg-4 mb-4">
          <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
            <figure><img src="{% static 'images/bridge/Work.png'%}" alt="Image"></figure>
            <small>04</small>
            <h5>3Q Work</h5>
            <p>Enhance your productivity in our cost-free office spaces, where your next deal is just a conversation away.</p>
          </div>
          <!-- end icon-content-list-block -->
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4 mb-4">
          <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
            <figure><img src="{% static 'images/bridge/Pay.png'%}" alt="Image"></figure>
            <small>05</small>
            <h5>3Q Pay </h5>
            <p>Experience the joy of instant payouts, with a promise of 10% interest on delays, because your growth is our priority.</p>
          </div>
          <!-- end icon-content-list-block -->
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4 mb-4">
          <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
            <figure><img src="{% static 'images/bridge/Care.png'%}" alt="Image"></figure>
            <small>06</small>
            <h5>3Q Care</h5>
            <p>Secure your future and your loved ones with 3Q Care, because peace of mind is priceless.</p>
          </div>
          <!-- end icon-content-list-block -->
        </div>
        <!-- end col-4 -->

        <div class="col-lg-4 mb-4">
          <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
            <figure><img src="{% static 'images/bridge/Loan.png'%}" alt="Image"></figure>
            <small>07</small>
            <h5>3Q Loan </h5>
            <p>Navigate through uncertainties with our emergency loan services, ensuring you're always ready to leap forward.</p>
          </div>
          <!-- end icon-content-list-block -->
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4 mb-4">
          <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
            <figure><img src="{% static 'images/bridge/Grow.png'%}" alt="Image"></figure>
            <small>08</small>
            <h5>3Q Grow</h5>
            <p>Dive into new ventures with 3Q Grow, where opportunities to expand your business horizon await.</p>
          </div>
          <!-- end icon-content-list-block -->
        </div>
        <!-- end col-4 -->



      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end content-section -->

  <!-- Register -->
  <section class="content-section contact">
    <div class="container">
      <div class="row">

        <div class="col-lg-7">
          {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" style="background-color:  transparent; font-size: 40px; top: -7px !important;" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
          <div class="pe-5">
            <div class="section-title mb-5">
              <h2 class="gradient-text mb-3">Register with us</h2>
              <h5>And kickstart your journey!</h5>
            </div>
            <!-- end section-title -->
            <div class="contact-form wow fadeInLeft border-1">
              <form id="contact" name="contact" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                      <p>Full Name *</p>
                      <input type="text" name="name" id="name" autocomplete="off" required>
                  </div>
                  <div class="form-group">
                      <p>Contact Number *</p>
                      <input type="text" name="contact_number" id="number" autocomplete="off" required>
                  </div>
                  <div class="form-group">
                      <p>Rera Number</p>
                      <input type="text" name="rera_number" id="rera_number" autocomplete="off">
                  </div>
                  <div class="form-group">
                      <p>Location *</p>
                      <input type="text" name="location" id="location" autocomplete="off" required>
                  </div>
                  <div class="form-group">
                      <button id="submit" type="submit" name="submit">SUBMIT</button>
                  </div>
              </form>
          </div>
            <!-- end contact-form -->
          </div>
        </div>
        <!-- end col-6 -->

        <div class="col-lg-5 mt-4 mt-sm-0">
          <img src="{% static 'images/Broker-form.webp'%}" alt="" class="reveal-effect masker wow fadeIn">
        </div>
        <!-- end col-6 -->

      </div>
      <!-- end row -->

      <!-- <div class="row mt-5">        
        <div class="col-12">
            <img src="images/Broker.jpg" alt="">
        </div>

      </div> -->
    </div>
    <!-- end container -->
  </section>
  <!-- end content-section -->
  {% endblock %}






</body>

</html>