<!doctype html>
<html lang="en">
  {% extends 'base.html' %}
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>3 Qubes</title>
  <meta name="description" content="3 Qubes">
  <meta name="keywords" content="">



</head>

<body>
  {% block content %}


  <header class="page-header">
    <div class="video-bg">
      <video src="{% static 'videos/Buyer.mp4' %}" autoplay muted playsinline loop></video>
    </div>
    <!-- end video-bg -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Buyer</h1>
          <p>Connect with brokers and explore top-notch property options!</p>
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->

  </header>
  <!-- end page-header -->

  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title mb-4">
            <!-- <h6>Welcome to the 3Qubes Builder Hub</h6> -->
            <h2 class="gradient-text">Buyer </h2>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="works-content">
            <p>Discover your dream property with 3Qubes, your gateway to a world of real estate possibilities! Whether you're an interested buyer, investor, first-time homebuyer, or an HNI/NRI seeking prime real estate, we connect you with top-notch brokers to make your property search a breeze. </p>
          </div>
          <!-- end works-content -->
        </div>
        <!-- end col-5 -->
        <div class="col-1"></div>
        <div class="col-lg-5 col-md-5">
          <div class="works-content">
            <p>Our commitment is to understand your unique needs and provide personalized solutions. Navigate our user-friendly platform to explore AI-driven property listings and connect with reputable brokers. Your ideal property is just a click away with 3Qubes!</p>
          </div>
          <!-- end works-content -->
        </div>
        <!-- end col-3 -->

        <!-- end col-12 -->
        <div class="col-12">
          <figure class="works"><img src="{% static 'images/Buyer.webp' %}" alt="Image"></figure>
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container-fluid -->
  </section>
  <!-- end content-section -->
  {% endblock %}




</body>

</html>