<!doctype html>
<html lang="en">
  {% extends 'base.html' %}
  {% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>3 Qubes</title>
  <meta name="description" content="3 Qubes">
  <meta name="keywords" content="">

  <link href="images/favicon.png" rel="shortcut icon">

</head>

<body>
  {% block content %}

  <header class="page-header">
    <div class="video-bg">
      <video src="{% static 'videos/Experia.mp4' %}" autoplay muted playsinline loop></video>
    </div>
    <!-- end video-bg -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Experia</h1>
          <p>Capture, Create & Captivate With Experia's Marketing Mastery</p>
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->

  </header>
  <!-- end page-header -->


  <!-- About Us -->
  <section class="content-section">
    <div class="container">
      <div class="vc_row wpb_row vc_inner vc_row-fluid">
        <div class="wpb_column vc_column_container">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="icon-content-list-block reveal-effect masker wow fadeIn ">
                <div class="p-0 p-sm-5">

                  <div class="row text-center text-lg-left justify-content-center">
                    <div class="col-sm-3 col-7 mb-4">
                      <img src="{% static 'images/Experia-by-3qubes.png' %}" alt="Experia" class="img-fluid">
                    </div>
                    <div class="col-sm-9">
                      <div class="section-title mb-4">
                        <h6 class="text-uppercase">Get to know about Experia</h6>
                        <h2 class="gradient-text">What is Experia by 3 Qubes?</h2>
                      </div>
                      <p class="p17 p-0 mb-0">Discover Experia by 3 Qubes, where innovative marketing meets real estate. Our comprehensive suite of services transforms your project into a digital masterpiece. Enhance your project's appeal and captivate buyers with unparalleled visual storytelling. <br><br><span class="fw-semibold">Welcome to the future of real estate experience - Welcome to Experia.</span></p>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end content-section -->

  <!-- AI 1 -->
  <section class="content-section pt-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title text-center">
            <h6 class="text-uppercase">Features</h6>
            <h2 class="gradient-text">Our Services</h2>
          </div>
          <!-- end section-title -->
        </div>
        <!-- end col-12 -->
      </div>

      <div class="row justify-content-center align-items-center">

        <div class="col-lg-6 reveal-effect masker wow fadeInLeft">
          <img src="{% static 'images/experia/Drone-shoot.webp' %}" alt="">
        </div>
        <!-- end col-6 -->
        <div class="col-lg-6">
          <div class="text-content-block px-0 px-sm-5 wow fadeInRight">

            <div class="section-title mb-4 mt-5 mt-sm-0">
              <h2 class="gradient-text small-h2">Drone Shoot</h2>
            </div>
            <p>Enhance your property’s perspective with stunning aerial footage, offering a bird's eye view that enchants and engages potential buyers.</p>
          </div>
          <!-- end text-content-block -->
        </div>
        <!-- end col-6 -->

      </div>
      <!-- end row -->


      <div class="row flex-column-reverse flex-sm-row justify-content-center align-items-center margin-100">

        <div class="col-lg-6">
          <div class="text-content-block px-0 px-sm-5 wow fadeInLeft">

            <div class="section-title mb-4 mt-5 mt-sm-0">
              <h2 class="gradient-text small-h2">Project Walk-through</h2>
            </div>
            <p>Seamlessly guide prospects through your property with immersive walk-throughs, making every corner and feature a part of their virtual journey.</p>
          </div>
          <!-- end text-content-block -->
        </div>
        <!-- end col-6 -->
        <div class="col-lg-6 reveal-effect masker wow fadeInRight">
          <video src="{% static 'videos/Project_Walkthroughs.mp4' %}" autoplay muted playsinline loop style="width: 100%;"></video>
        </div>
        <!-- end col-6 -->

      </div>
      <!-- end row -->


      <div class="row justify-content-center align-items-center margin-100">

        <div class="col-lg-6 reveal-effect masker wow fadeInLeft">
          <img src="{% static 'images/experia/Virtual-Tours.webp' %}" alt="">
        </div>
        <!-- end col-6 -->
        <div class="col-lg-6">
          <div class="text-content-block px-0 px-sm-5 wow fadeInRight">

            <div class="section-title mb-4 mt-5 mt-sm-0">
              <h2 class="gradient-text small-h2">Virtual Tours</h2>
            </div>
            <p>Welcome your audience into your project from anywhere in the world, with detailed virtual tours that offer a lifelike experience.</p>
          </div>
          <!-- end text-content-block -->
        </div>
        <!-- end col-6 -->

      </div>
      <!-- end row -->


      <div class="row flex-column-reverse flex-sm-row  justify-content-center align-items-center">

        <div class="col-lg-6">
          <div class="text-content-block px-0 px-sm-5 wow fadeInLeft">

            <div class="section-title mb-4 mt-5 mt-sm-0">
              <h2 class="gradient-text small-h2">Interior & Exterior Renders</h2>
            </div>
            <p>Transform your vision into reality with high-quality renders that showcase your property’s interior and exterior in exquisite detail.</p>
          </div>
          <!-- end text-content-block -->
        </div>
        <!-- end col-6 -->
        <div class="col-lg-6 reveal-effect masker wow fadeInRight">
          <img src="{% static 'images/experia/Interior-Exterior-Renders.webp'%}" alt="">
        </div>
        <!-- end col-6 -->

      </div>
      <!-- end row -->

    </div>
    <!-- end container -->
  </section>
  <!-- end content-section -->

  <!-- Our Services -->
  <section class="content-section pt-5 d-none">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h6 class="text-uppercase">Features</h6>
            <h2 class="gradient-text">Our Services</h2>
          </div>
          <!-- end section-title -->
        </div>
        <!-- end col-12 -->
        <div class="col-lg-4">
          <div class="recent-news wow fadeIn">
            <figure class="reveal-effect masker wow"> <img src="{% static 'images/home/ai-1.jpg'%}" alt="Image">
              <figcaption>
                <h3 class="mb-4 font-weight-bold text-uppercase fs-small">Drone Shoot</h3>
                <p class="p17">Enhance your property’s perspective with stunning aerial footage, offering a bird's eye view that enchants and engages potential buyers.</p>
              </figcaption>
            </figure>
          </div>
          <!-- end recent-news -->
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4">
          <div class="recent-news wow fadeIn">
            <figure class="reveal-effect masker wow"> <img src="{% static 'images/home/ai-2.jpg' %}" alt="Image">
              <figcaption>
                <h3 class="mb-4 font-weight-bold text-uppercase fs-small">Project Walk-through</h3>
                <p class="p17">Seamlessly guide prospects through your property with immersive walk-throughs, making every corner and feature a part of their virtual journey.</p>
              </figcaption>
            </figure>
          </div>
          <!-- end recent-news -->
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4">
          <div class="recent-news wow fadeIn">
            <figure class="reveal-effect masker wow"> <img src="{% static 'images/home/ai-3.jpg' %}" alt="Image">
              <figcaption>
                <h3 class="mb-4 font-weight-bold text-uppercase fs-small">Virtual Tours</h3>
                <p class="p17">Welcome your audience into your project from anywhere in the world, with detailed virtual tours that offer a lifelike experience.</p>
              </figcaption>
            </figure>
          </div>
          <!-- end recent-news -->
        </div>
        <!-- end col-4 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end content-section -->


  {% endblock %}


</body>

</html>