<!doctype html>
<html lang="en">
  {% extends 'base.html' %}
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>3 Qubes</title>
  <meta name="description" content="3 Qubes">
  <meta name="keywords" content="">



  <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>
  {% block content %}


  <header class="page-header">
    <div class="video-bg">
      <video src="{% static 'videos/Services.mp4' %}" autoplay muted playsinline loop></video>
    </div>
    <!-- end video-bg -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Services</h1>
          <!-- <p>Welcome to the 3Qubes Builder Hub, where innovation meets development! </p> -->
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </header>
  <!-- end page-header -->

  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h6>End-to-end real estate advisory under one umbrella!</h6>
            <h2 class="gradient-text">Our Services</h2>
          </div>
          <!-- end section-title -->
        </div>
        <!-- end col-12 -->
        <div class="col-lg-3 mb-4">
          <div class="icon-content-block h-100 reveal-effect masker wow fadeIn mb-0">
            <figure><img src="{% static 'images/services/Acquisition.png'%}" alt="Acquisition">
              <figcaption>
                <h5>Acquisitions</h5>
                <p>Transforming potential into prosperity with strategic property acquisitions.</p>
              </figcaption>
            </figure>
          </div>
          <!-- end icon-content-block -->
        </div>
        <!-- end col-3 -->
        <div class="col-lg-3 mb-4">
          <div class="icon-content-block h-100 reveal-effect masker wow fadeIn mb-0">
            <figure><img src="{% static 'images/services/Project-finance.png'%}" alt="Project Finance">
              <figcaption>
                <h5>Project Finance</h5>
                <p>Fueling real estate visions with our project finance solutions.</p>
              </figcaption>
            </figure>
          </div>
          <!-- end icon-content-block -->
        </div>
        <!-- end col-3 -->
        <div class="col-lg-3 mb-4">
          <div class="icon-content-block h-100 reveal-effect masker wow fadeIn mb-0">
            <figure><img src="{% static 'images/services/Feasibility.png'%}" alt="Feasibility">
              <figcaption>
                <h5>Feasibility</h5>
                <p>Turning ideas into achievable plans with comprehensive project feasibility studies.</p>
              </figcaption>
            </figure>
          </div>
          <!-- end icon-content-block -->
        </div>
        <!-- end col-3 -->
        <div class="col-lg-3"></div>
        <!-- end col-3 -->
        <div class="col-lg-3"></div>
        <!-- end col-3 -->
        <div class="col-lg-3 mb-4">
          <div class="icon-content-block h-100 reveal-effect masker wow fadeIn mb-0">
            <figure><img src="{% static 'images/services/Architect-Design.png'%}" alt="Image">
              <figcaption>
                <h5>Architect & Design</h5>
                <p>Crafting architectural masterpieces with innovation and technology.</p>
              </figcaption>
            </figure>
          </div>
          <!-- end icon-content-block -->
        </div>
        <!-- end col-3 -->
        <div class="col-lg-3 mb-4">
          <div class="icon-content-block h-100 reveal-effect masker wow fadeIn mb-0">
            <figure><img src="{% static 'images/services/Liaison-Legal.png'%}" alt="Liaison & Legal">
              <figcaption>
                <h5>Liaison & Legal</h5>
                <p>Simplifying complexities with expert liaison and legal services for a seamless real estate experience</p>
              </figcaption>
            </figure>
          </div>
          <!-- end icon-content-block -->
        </div>
        <!-- end col-3 -->
        <div class="col-lg-3 mb-4">
          <div class="icon-content-block h-100 reveal-effect masker wow fadeIn mb-0">
            <figure><img src="{% static 'images/services/Construction.png'%}" alt="Construction">
              <figcaption>
                <h5>Construction</h5>
                <p>Building the future, one brick at a time, with precision and excellence in construction.</p>
              </figcaption>
            </figure>
          </div>
          <!-- end icon-content-block -->
        </div>
        <!-- end col-3 -->

        <div class="col-lg-3 mb-4">
          <div class="icon-content-block h-100 reveal-effect masker wow fadeIn mb-0">
            <figure><img src="{% static 'images/services/Sales-marketing.png'%}" alt="Sales & Marketing">
              <figcaption>
                <h5>Sales & Marketing</h5>
                <p>Connecting properties with prospects through innovative sales and marketing strategies.</p>
              </figcaption>
            </figure>
          </div>
          <!-- end icon-content-block -->
        </div>
        <!-- end col-3 -->
        <div class="col-lg-3 mb-4">
          <div class="icon-content-block h-100 reveal-effect masker wow fadeIn mb-0">
            <figure><img src="{% static 'images/services/Post-sales.png'%}" alt="Post-sales & Possession">
              <figcaption>
                <h5>Post-sales & Possession</h5>
                <p>Ensuring a smooth transition from sale to settlement with comprehensive post-sales and possession support.</p>
              </figcaption>
            </figure>
          </div>
          <!-- end icon-content-block -->
        </div>
        <!-- end col-3 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end content-section -->

{% endblock %}

<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bundle.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>



</body>

</html>