<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>3 Qubes</title>
  <meta name="description" content="3 Qubes">
  <meta name="keywords" content="">

  <link href="images/favicon.png" rel="shortcut icon">
  <?php include "css.php" ?>
</head>

<body>
  <?php include "header.php" ?>

  <header class="page-header">
    <div class="video-bg">
      <video src="videos/Services.mp4" autoplay muted playsinline loop></video>
    </div>
    <!-- end video-bg -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>The Bridge</h1>
          <!-- <p>Welcome to the 3Qubes Builder Hub, where innovation meets development! </p> -->
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
    <?php include "banner-text.php" ?>
  </header>
  <!-- end page-header -->

  <section class="content-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title">
          <h3 class="gradient-text mb-3">Elevate Your Brokerage Journey With The Bridge</h3>
          <h5>Where Opportunities and Support Converge for Brokers</h5>
        </div>
        <!-- end section-title --> 
      </div>
      <!-- end col-12 -->
      <div class="col-lg-4 mb-4">
        <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
          <figure><img src="images/bridge/Enrol.png" alt="Enrol"></figure>
          <small>01</small>
          <h5>3Q Enrol</h5>
          <p>Jumpstart your journey in just 10 seconds! Fill out a form stay one step ahead in the industry.</p>
        </div>
        <!-- end icon-content-list-block --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 mb-4">
        <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
          <figure><img src="images/bridge/Start.png" alt="Start"></figure>
          <small>02</small>
          <h5>3Q Start </h5>
          <p>Get the edge with ready-to-use marketing kits and sales pitches, designed to make every pitch a potential win.</p>          
        </div>
        <!-- end icon-content-list-block --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 mb-4">
        <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
          <figure><img src="images/bridge/Campaign.png" alt="Image"></figure>
          <small>03</small>
          <h5>3Q Campaign</h5>
          <p>Amplify your reach with our tailor-made marketing campaigns, turning properties into hotspots of demand.</p>
        </div>
        <!-- end icon-content-list-block --> 
      </div>
      <!-- end col-4 --> 
      
      <div class="col-lg-4 mb-4">
        <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
          <figure><img src="images/bridge/Work.png" alt="Image"></figure>
          <small>04</small>
          <h5>3Q Work</h5>
          <p>Enhance your productivity in our cost-free office spaces, where your next deal is just a conversation away.</p>
        </div>
        <!-- end icon-content-list-block --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 mb-4">
        <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
          <figure><img src="images/bridge/Pay.png" alt="Image"></figure>
          <small>05</small>
          <h5>3Q Pay </h5>
          <p>Experience the joy of instant payouts, with a promise of 10% interest on delays, because your growth is our priority.</p>
        </div>
        <!-- end icon-content-list-block --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 mb-4">
        <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
          <figure><img src="images/bridge/Care.png" alt="Image"></figure>
          <small>06</small>
          <h5>3Q Care</h5>
          <p>Secure your future and your loved ones with 3Q Care, because peace of mind is priceless.</p>
        </div>
        <!-- end icon-content-list-block --> 
      </div>
      <!-- end col-4 -->

      <div class="col-lg-4 mb-4">
        <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
          <figure><img src="images/bridge/Loan.png" alt="Image"></figure>
          <small>07</small>
          <h5>3Q Loan </h5>
          <p>Navigate through uncertainties with our emergency loan services, ensuring you're always ready to leap forward.</p>
        </div>
        <!-- end icon-content-list-block --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 mb-4">
        <div class="icon-content-list-block h-100 reveal-effect masker wow fadeIn">
          <figure><img src="images/bridge/Grow.png" alt="Image"></figure>
          <small>08</small>
          <h5>3Q Grow</h5>
          <p>Dive into new ventures with 3Q Grow, where opportunities to expand your business horizon await.</p>
        </div>
        <!-- end icon-content-list-block --> 
      </div>
      <!-- end col-4 -->



    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->

  <?php include "footer.php" ?>

  <?php include "js.php" ?>

</body>

</html>