.p17{
    font-size: 17px;
    opacity: .9 !important;
}
.slider .slide-content h3 {
  display: inline-block;
  margin: 10px 0;
  font-weight: 600;
  font-size: 2.5vw;
  text-transform: uppercase;
  position: relative;
}
.blue-btn{
    /* background-color: #2f57ef; */
    color: #ffffff;
}
.title-text{
    /* color: #fe9402; */
    color: #2f57ef;
}
.yellow-text{
    color: #ffd428;
}
.green-text{
    color: #c8ff60;
}
.seagreen-text{
    color: #37e3b0;
}
.gradient-text{
    background: linear-gradient(130deg, #4e36a1, #d41b2b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
}

.modal-text h6{
    line-height: 1.5;
}
.modal-header .close {
    padding: 0rem 1rem;
    margin: -1rem -1rem -1rem auto;
    height: 40px;
    background: black;
    opacity: 1;
}
.value-video{
    min-height: 600px;
    width: 700px;
    object-fit: cover;
    object-position: center;
}

.page-header{
    /* background: linear-gradient(151.71deg, #2f57ef 0%, #6e37ef 100%) !important; */
    /* background: linear-gradient(43deg, #0022a5 0%, #4b15c9 100%) !important; */
    background: linear-gradient(43deg, #170018 0%, #000657 100%) !important;
    /* background: linear-gradient(43deg, #170018 0%, #a30210 100%) !important; */
}

.core-value{
    padding-left: 20px;
    list-style: disc;
}
.core-value > li{
    font-size: 17px;
    margin-bottom: 15px;
}
.team{
    background: #022453;
}
.leadership{
    background: #12003b;
}
.panel{
    background: #310c00;
}
.fs-small{
    font-size: 1.5rem;
}
.awards .char{
    margin-left: 10px;
    font-size: 20px;
}
.number-section{
    background: linear-gradient(151.71deg, #4e36a1 0%, #d41b2b 100%) !important;
}
.bg_light_1 {
    background: #f0f3f9 !important;
}

/* mission */
.simple_image_boxes {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.simple_image_boxes img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
}
.icon_box_all.style_three {
    text-align: center;
    background: #fff;
    padding: 40px 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,.09);
}
.icon_box_all.style_three .icon_content {
    position: relative;
}
.icon_box_all.style_three .icon_content .icon {
    position: relative;
    display: block;
    margin-bottom: 20px;
}
.pd_bottom_20 {
    padding-bottom: 20px;
}

.section-title h3 {
    width: 100%;
    display: block;
    font-size: 34px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.builder-hover2{
    position: relative;
}
.inte-div{
    background: linear-gradient(151.71deg, #4e36a1c9 0%, #d41b2bd4 100%) !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.black-btn{
    height: 60px;
    background: #0e0e0e;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    border: none;
    padding: 0 50px;
    display: flex;
    align-items: center;
}
.black-btn:hover{
    color: #fff;
}

.builder-hover:hover .inte-div{
    display: flex;
}
.builder-logo{
    width: 120px !important;
}
.rotate-180 {
    transform: rotate(180deg);
}

.bg-light-2{
    background-color: #f8f9ff;
}
/* experia */
.fw-semibold{
    font-weight: 600;
}
.remove-after:after{
    display: none;
}
.white-btn span{
    color: #ffffff !important;
}
.margin-100{
    margin: 100px 0;
}

.experia-logo{
    position: absolute;
    z-index: 1;
    /* left: 25px;
    bottom: 25px; */
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


@media  (max-width: 576px) {
    .awards figure {
        border-top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .reverse-flex{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .value-video {
        min-height: 400px;
    }
    .left-side-content{
        background: linear-gradient(151.71deg, #4e36a1 0%, #d41b2b 100%);
    }
    .gradient-class{
        background: linear-gradient(151.71deg, #1863ec 0%, #fff 200%) !important;
      }
    .experia-h4, .small-h2{
        font-size: 30px !important;
    }
}

